{% extends 'base.html.twig' %}

{% block title %}Edit EquipmentsMinusTwo{% endblock %}

{% block body %}
    <h1>Edit EquipmentsMinusTwo</h1>

    {{ include('equipments_minus_two/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_equipments_minus_two_index') }}">back to list</a>

    {{ include('equipments_minus_two/_delete_form.html.twig') }}
{% endblock %}
