.main-backgrounds{
    background: no-repeat top center;
    background-size: cover;
}

.main-background-1{
    background-image: url(../images/main_background/background1.png);
}

.main-background-2{
    background-image: url(../images/main_background/background2.png);
}