
{% extends 'admin_base.html.twig' %}

{% block main %}
    <h1>Edit Entreprise</h1>

    {{ include('entreprise/_form.html.twig', {
        'button_label': 'Update',
        'form_action': path('app_entreprise_edit', {'id': entreprise.id})
    }) }}

    <a href="{{ path('app_entreprise_index') }}">back to list</a>

    {{ include('entreprise/_delete_form.html.twig') }}
{% endblock %}
