<form method="post" action="{{ path('app_equipments_minus_one_delete', {'id': equipments_minus_one.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equipments_minus_one.id) }}">
    <button class="btn">Delete</button>
</form>
