
{% extends 'admin_base.html.twig' %}

{% block main %}
    <h1>Create new EquipmentsMinusOne</h1>

    {{ include('equipments_minus_one/_form.html.twig', {
        'button_label': 'Ajouter',
        'form_action': path('app_equipments_minus_one_new', {'id': equipments_minus_one.id})
    }) }}

    <a href="{{ path('app_equipments_minus_one_index') }}">back to list</a>
{% endblock %}
