{% extends 'admin_base.html.twig' %}

{% block main %}
    <h1>Edit ContactAgrometal</h1>

    {{ include('entreprise/_form.html.twig', {
        'button_label': 'Update',
        'form_action': path('app_contact_agrometal_edit', {'id': contact_agrometal.id})
    }) }}


    <a href="{{ path('app_contact_agrometal_index') }}">back to list</a>

    {{ include('contact_agrometal/_delete_form.html.twig') }}
{% endblock %}
