<div class="mainpage-blockwrap-padding">
        <div class="optimization-box-1440">
            <div class="mainpage-verticalblock-wrap">
                <div class="title-wrap">
                    <h1>Nous contacter</h1>
                    <h2 style="max-width: 1000px;">Que vous soyez déjà notre client ou que vous souhaitiez simplement commencer à travailler avec nous, nous vous répondrons dans les plus brefs délais.</h2>
                </div>
                <div class="contactblock-btnswrap">
                    <button onclick="swithContactFormStatus()" class="contactblock-bigbtn"><img src="{{ asset('images/other/contactform.png') }}" alt="Ouvrir le formulaire" /></button>
                    <button onclick="swithContactFormStatus()" class="contactblockBtn hover-btn">Contacter</button>
                    <a href="#" class="mainpage-littlelink hover-opacity">Sinon, Vous pouvez nous contacter directement en utilisant nos contacts</a>
                </div>
            </div>
        </div>
    </div>