<header>
    <img src="{{ asset('images/brand/logo.png') }}" alt="Logo">
    <div>
        <a href="{{ path('equipment') }}" class="hover-opacity">Equipement</a>
        <a href="{{ path('contacts') }}" class="hover-opacity">Contacts</a>
        <button onclick="swithContactFormStatus()" class="hover-btn">Contacter</button>
    </div>
</header>