<header>
    <a href="#"><img src="{{ asset('images/brand/logo.png') }}" alt="Logo"></a>
    <div>
        <a href="#" class="hover-opacity">Equipement</a>
        <a href="{{ path('contacts') }}" class="hover-opacity">Contacts</a>
        <button onclick="swithContactFormStatus()" class="hover-btn">Contacter</button>
    </div>
</header>