{% extends 'admin_base.html.twig' %}

{% block main %}
    <h1>Create new News</h1>

   {{ include('news/_form.html.twig', {
        'button_label': 'Ajouter',
        'form_action': path('app_news_new', {'id': news.id})
    }) }}

    <a href="{{ path('app_news_index') }}">back to list</a>
{% endblock %}
