{% extends 'admin_base.html.twig' %}

{% block title %}Edit MediaSocial{% endblock %}

{% block main %}
    <h1>Edit MediaSocial</h1>

    {{ include('media_social/_form.html.twig', {
        'button_label': 'Update',
        'form_action': path('app_media_social_edit', {'id': media_social.id})
    }) }}

    <a href="{{ path('app_media_social_index') }}">back to list</a>

    {{ include('media_social/_delete_form.html.twig') }}
{% endblock %}
