<a href="{{ path('app_logout') }}">Logout</a>

<a href="adminpanel/contact">Contact</a>
<a href="adminpanel/entreprise">Entreprises</a>
<a href="adminpanel/equipments">Équipements</a>
<a href="adminpanel/news">Actualités</a>