<!DOCTYPE html>
<html lang="en" ng-app="MainController">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('style/main.css') }}">
    <link rel="stylesheet" href="{{ asset('style/main-backgrounds.css') }}">
    <title>Agrometal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.js"></script>
    <script src="{{ asset('JS/main_controller.js') }}"></script>
    <script src="{{ asset('JS/additional_function.js') }}"></script>
</head>
<body>
    {% include 'components_static/contactform.html.twig' %}
    <div class="main-backgrounds main-background-1">
        {% include 'components_static/header.html.twig' %}
        <div class="optimization-box-1440" style="margin-top: -125px;">
            <div class="mainpage-welcometext-block">
                <h1><b class="yellow-text">Le succès</b> de nos clients est <b class="yellow-text">notre succès</b></h1>
                <p>AGROMETAL produit des équipements clés en main pour la production de tous les types de bière.</p>
                <button class="hover-btn">Découvrir notre equipement</button>
            </div>
        </div>
    </div>
    <main>
        {% block main %}Default Main{% endblock %}
    </main>
    {% include 'components_static/footer.html.twig' %}
</body>
</html>