{% extends 'admin_base.html.twig' %}

{% block main %}
    <h1>Edit NewsNumber</h1>

    {{ include('news_number/_form.html.twig', {
        'button_label': 'Update',
        'form_action': path('app_news_number_edit', {'id': news_number.id})
    }) }}

    <a href="{{ path('app_news_number_index') }}">back to list</a>

    {{ include('news_number/_delete_form.html.twig') }}
{% endblock %}
