{% extends 'base.html.twig' %}

{% block title %}New NewsNumber{% endblock %}

{% block body %}
    <h1>Create new NewsNumber</h1>

    {{ include('news_number/_form.html.twig') }}

    <a href="{{ path('app_news_number_index') }}">back to list</a>
{% endblock %}
